*,
::before,
::after {
    box-sizing: border-box;
}

:root {
  // font
  --font-poppins: Poppins;

  // color
  // primary
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  // neutral
  --color-darkblue: hsl(234, 12%, 34%);
  --color-grayishblue: hsl(229, 6%, 66%);
  --color-lightgray: hsl(0, 0%, 98%);
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--color-lightgray);
  margin: 70px 30px;
  display: grid;

  @media only screen and (min-width: 1440px) {
    margin: 70px;
  }
}

p {
  margin: 15px 0;
}

section {
  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.section-title {
  text-align: center;
}

.title {
  &.light {
    font-weight: 200;
  }

  &.big {
    font-size: 2rem;
  }
  &.medium {
    font-size: 1.5rem;
  }
}

.description {
  color: var(--color-grayishblue);
}

.section-card {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  @media only screen and (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    ". c2 ."
    "c1 c2 c4"
    "c1 c3 c4"
    ". c3 .";
  }
}

.card {
  &.wrapper {
    box-shadow: 5px 5px 20px var(--color-grayishblue);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;

    &.red {
      border-top: 5px solid var(--color-red);
    }

    &.cyan {
      border-top: 5px solid var(--color-cyan);
    }

    &.orange {
      border-top: 5px solid var(--color-orange);
    }

    &.blue {
      border-top: 5px solid var(--color-blue);
    }
  }

  @media only screen and (min-width: 1440px) {
    &.card-1 {
      // grid-area: 2 / 1 / 4 / 2;
      grid-area: c1;
    }

    &.card-2 {
      // grid-area: 1 / 2 / 3 / 3;
      grid-area: c2;
    }

    &.card-3 {
      // grid-area: 3 / 2 / 5 / 3;
      grid-area: c3;
    }

    &.card-4 {
      // grid-area: 2 / 3 / 4 / 4;
      grid-area: c4;
    }
  }

  .icon {
    margin: auto 0 0 auto;
  }
}